/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.calculadora {
	-fx-padding: 5px;
	-fx-spacing: 5px;
	-fx-background-color:rgb(230,230,230);
	-fx-min-width: 270px;	
	-fx-min-height: 420px;
}

.pantalla {
	-fx-font-size: 36pt;
	-fx-alignment: center-right;
	-fx-label-padding: 3px;
	-fx-max-width: 99999999;	
	-fx-padding: 1 1 1 5;
}
.resumen {
	-fx-font-size: 22pt;
	-fx-alignment: center-right;
	-fx-label-padding: 1 1 1 5;
	-fx-max-width: 99999999;	
	-fx-padding: 1 1 1 5;
}

.panel-botones {
	-fx-hgap: 3px;
	-fx-vgap: 3px;
}

.button {
	-fx-font-size: 12pt;
	-fx-min-width: 40px;	
	-fx-min-height: 40px;
	-fx-background-color: rgb(242,242,242);
	-fx-border-width: 0px;
}

.btnDigito {
	-fx-font-size: 22pt;
	-fx-font-weight: bold;
}

.btnOperacion {
	-fx-font-size: 22pt;
	-fx-background-color: rgb(220,220,220);
}
